<button type="button" class="btn btn-info" (click)="addProblem()">Add</button>

<!-- <div class="list-group" id="list-tab" role="tablist">
    <a *ngFor="let problem of listOfProblems; let ind=index" 
        [ngClass]="'list-group-item list-group-item-action' + (appState.current==ind ? ' action' : '')"
        [id]="'problem-list-item-'+ind" data-bs-toggle="list" [href]="'#'" role="tab" aria-controls="list-home"
        (click)="selectProblem(problem, ind)">
        {{ problem.name }}
    </a>
</div> -->

<ul class="list-group">
    <li *ngFor="let problem of listOfProblems; let ind=index" 
        [ngClass]="'list-group-item list-group-item-action' + (appState.current==ind ? ' selected-item' : '')"
        (click)="selectProblem(problem, ind)">
        {{ problem.name }}
    </li>
</ul>
