<!-- 
    RHS
    TODO show welcome message when app is opened
    TODO show nothing selected if it comes to that

 -->

<div class="container-fluid">
    <div class="row" *ngIf="!appState.loaded">
        <div class="col">
            <app-welcome-message></app-welcome-message>
        </div>
    </div>
    <div class="row" *ngIf="appState.loaded">
        <div class="col-3">
            <app-problem-list></app-problem-list>
        </div>
        <div class="col-9">
            <app-save-problem *ngIf="appState.addFlag"></app-save-problem>
            <app-problem-details *ngIf="!appState.addFlag && appState.current!=-1"></app-problem-details>
            <div *ngIf="!appState.addFlag && appState.current==-1">NA</div>
        </div>
    </div>
</div>


