<!-- 
    LHS list
    TODO: List of problems
    TODO: add problems button
    
    RHS
    TODO: show welcome message when app is opened
    TODO: add problems screen
    TODO: show problem details

 -->

<div class="container-fluid">
    <div class="row" *ngIf="!appLoaded">
        <div class="col">
            <app-welcome-message></app-welcome-message>
        </div>
    </div>
    <div class="row" *ngIf="appLoaded">
        <div class="col-3">
            <app-problem-list></app-problem-list>
        </div>
        <div class="col-9">
            <button type="button" class="btn btn-primary">Primary</button>
            <!-- 
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" [id]="'problem-'" role="tabpanel">

                    </div>
                </div>
             -->
             {{ selectedProblem.name }}
        </div>
    </div>
</div>


