<!-- 
    LHS list
    TODO: List of problems
    TODO: add problems button
    
    RHS
    TODO: show welcome message when app is opened
    TODO: add problems screen
    TODO: show problem details

 -->
Yo
<mat-list role="list" id="lhs">
    <mat-list-item role="listitem" class="lhs-item">
        <div>
            Item 1
        </div>
    </mat-list-item>
    <mat-list-item role="listitem" class="lhs-item">
        <div>
            Item 2
        </div>
    </mat-list-item>
    <mat-list-item role="listitem" class="lhs-item">
        <div>
            Item 3
        </div>
    </mat-list-item>
    <mat-list-item role="listitem" class="lhs-item">
        <div>
            Item 4
        </div>
    </mat-list-item>
</mat-list>

<mat-list>
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
</mat-list>